.body {
  background-color: #1A374D;
}

.header {
  background-color: #1A374D;
}

.header h1 {
  color: #B1D0E0;
}

.homePageHeader {
  color: #B1D0E0;
}
.homeCard {
  background-color: #1A374D;
  color: #B1D0E0;
}
